@import '../../styles/variables';

.header {
    &__up {
        position: relative;
        padding: 25px 0;
        background-color: #141414;
    }

    &__main {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 767px) {
            order: 2;
        }
        @media(max-width: 575px) {
            width: calc(100% - 45px);
            justify-content: space-around;
        }
        
    }

    &__nav {
        width: 80%;
        @media(max-width: 991px) {
            width: 70%;
        }
        @media(max-width: 767px) {
            display: none;
        }
    }

    &__login {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        &::before {
            content: url('../../assets/icons/main/login.svg');
            margin-right: 15px;
        }
        span {
            @media(max-width: 575px) {
                display: none;
            }
        }
        @media(max-width: 575px) {
            order: 2;
        }
    }

    &__logout {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        cursor: pointer;
        &::before {
            content: url('../../assets/icons/main/login.svg');
            margin-right: 15px;
        }
    }

    &__logout-link {
        position: absolute;
        top: 25%;
        left: calc( 100% + 20px);
        color: #fff;
        cursor: pointer;
    }

    &__bottom {
        padding: 25px 0 20px 0;
    }


    &__submain {
        display: flex;
        justify-content: space-between;
        align-items: center;
        row-gap: 20px;
        flex-wrap: wrap;
        @media(max-width: 1199px) {
            left: calc(100% + 5px);
        }
        @media(max-width: 575px) {
            justify-content: center;
        }
    }

    &__logo {
        flex: 0 0 190px;
        height: 46px;
        transition: .1s all;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &:hover {
            transform: scale(1.1);
        }
        @media(max-width: 767px) {
            flex: 0 0 170px;
        }
    }

    &__search {
        position: relative;
        @media(max-width: 991px) {
            order: 4;
            width: calc(100% - 124px);
        }
        @media(max-width: 575px) {
            display: none;
        }
    }

    &__location {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
        &::before {
            content: url('../../assets/icons/main/location.svg');
            margin-right: 10px;
        }
        
        @media(max-width: 1199px) {
            display: none;
        }
    }

    &__recall {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        @media(max-width: 575px) {
            display: none;
        }
    }

    &__cort {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 575px) {
            display: none;
        }
    }

    &__tel-sm {
        display: none;
        order: 1;
        max-width: 27px;
        @media(max-width: 575px) {
            display: block;
        }
    }
    &__favorites-sm {
        display: none;
        order: 3;
        @media(max-width: 575px) {
            display: block;
        }
    }
    &__cort-sm {
        display: none;
        order: 4;
        @media(max-width: 575px) {
            display: block;
        }
    }

    &__burger {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        @media(max-width: 767px) {
            display: flex;
            order: 1;
        }
        @media(max-width: 575px) {
            order: 5;
        }
    }

    &__burger-menu {
        display: none;
        &_active {
            display: block;
        }
    }
}
.burger-header {
    &__line {
        display: block;
        width: 28px;
        height: 3px;
        background-color: #ffffff;
        & + & {
            margin-top: 8px;
            @media(max-width: 575px) {
                margin-top: 4px;
            }
        }
    }
}
.up-header {
    &__wrapper {
        display: block;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 767px) {
            display: flex;
        }
        @media(max-width: 575px) {
            padding: 0 10px;
        }
    }
}
.cort-header {
    &__total {
        top: 0;
        right: -5px;
        
    }
    &__img {
        position: relative;
        margin-right: 20px;
        @media(max-width: 767px) {
            margin-right: 10px;
        }
    }
    &__link {
        display: block;
        font-size: 16px;
        margin-top: 10px;
        color: $main-color;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        @media(max-width: 767px) {
            font-size: 14px;
        }
    }
    &__sum {
        font-size: 16px;
        line-height: 18px;
        @media(max-width: 767px) {
            font-size: 14px;
        }
    }
}
.total {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: $main-color;
    font-size: 14px;
    color: #ffffff;
}
.cort-sm-header {
    position: relative;
    text-decoration: none;
    &__total {
        top: 0;
        right: -5px;
    }
}
.recall-header {
    &__arrow {
        position: absolute;
        top: 5px;
        left: calc(100% + 17px);
        transform: rotate(0deg);
        cursor: pointer;
        @media(max-width: 1589px) {
            left: calc(100% + 5px);
        }
        &_active {
            transform: rotate(180deg);
        }
    }
    &__tel {
        font-size: 18px;
        font-weight: 600;
        @media(max-width: 767px) {
            font-size: 14px;
        }
    }
    &__link {
        color: $main-color;
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
        text-decoration: none;
        margin-top: 5px;
        &:hover {
            text-decoration: underline;
        }
        @media(max-width: 767px) {
            font-size: 14px;
        }
    }
    &__list {
        position: absolute;
        top: 100%;
        left: 10%;
        max-height: 0;
        overflow: hidden;
        list-style: none;
        background-color: #ffffff;
        border-radius: 3px;
        box-sizing: content-box;
        transition: .5s all;
        z-index: 1000;
        box-shadow: 0 0 20px $sec-color;
        &_active {
            padding: 15px;
        }
    } 
    &__item {
        white-space: nowrap;
        & + & {
            margin-top: 10px;
        }
    }
    &__sublink {
        font-size: 18px;
        font-weight: 600;
        color: #000;
        text-decoration: none;
        &:hover {
            color: $main-color;
        }
        @media(max-width: 767px) {
            font-size: 14px;
        }
    }
}
.nav-header {

    &__list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        list-style-type: none;
        width: 100%;
        column-gap: 60px;
        row-gap: 5px;
        @media(max-width: 991px) {
            column-gap: 30px;
        }
    }
    &__link {
        color: #ffffff;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
.search-header {
    &__label {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        font-size: 14px;
        &::before {
            content: url('../../assets/icons/main/search.svg');
            margin-right: 10px;
        }
    }
    &__input {
        width: 251px;
        height: 41px;
        padding-left: 120px;
        border: 1px solid #040404;
        @media(max-width: 1589px) {
            width: 190px;
        }
        @media(max-width: 991px) {
            width: 100%;
        }
    }
}
.burger-list {
    overflow: hidden;
    
}
.up-burger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
    &_back {
        justify-content: space-between;
    }
}
.back-nav {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    &::before {
        content: url('../../assets/icons/main/arrow-back.svg');
        margin-right: 10px;
    }
    &_active {
        display: flex;
    }
}
.close-nav {
    display: block;
    width: 100%;
    color: #ffffff;
    font-size: 20px;
    text-align: right;
    cursor: pointer;
}
.item-nav {
    color: #fff;
    & + & {
        margin-top: 20px;
    }
    
}
.link-nav {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
    &:hover {
        color: $main-color;
    }
    &_next {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        &::after {
            content: url('../../assets/icons/main/arrow-right.svg');
        }
    }
}
.burger-menu-header {
    &__wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        min-height: 100vh;
        background-color: $sec-color;
        z-index: 1000;
    }
    &__nav {
        position: relative;
        flex: 0 0 calc(100% - 40px);
        padding: 20px 20px 40px 20px;
    }

    &__nextlists {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        flex: 0 0 100%;
        min-height: 100vh;
        transform: translateX(calc(100% + 40px));
        transition: .2s all;
        background-color: $sec-color;
        padding: 20px 20px 40px 20px;
        &_active {
            display: block;
            transform: translateX(0);
        }
    }
}
.nextlists-menu {
    &__up {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
    }
    &__list {
        width: 100%;
        &_active {
            transform: translateX(0);
        }
    }
    &__item {
        font-size: 16px;
        color: #ffffff;
        &_next {
            @extend .link-nav_next;
        }
    }
}

.nav-burger {

    &__link {
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        text-decoration: none;
        &:hover {
            color: $main-color;
        }
    }
}

.favorites-header {
    position: relative;
    @media(max-width: 1199px) {
        display: none;
    }

    &__total {
        top: -5px;
        right: -10px;
    }
}