.bestsellers, .common {
    @media(max-width: 575px) {
        padding-bottom: 30px;
    }
    &__container {
        max-width: calc($container-mw + 30px);
        margin: 0 auto;
        @media(max-width: 1609px) {
            max-width: calc(100% - 50px);
        }
        @media(max-width: 1199px) {
            max-width: calc(960px + 30px);
        }
        @media(max-width: 991px) {
            max-width: calc(720px + 30px);
        }
        @media(max-width: 767px) {
            max-width: calc(540px + 30px);
        }
        @media(max-width: 575px) {
            width: calc(100%);
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 575px) {
            justify-content: center;
        }
    }

    &__title {
        color: $sec-color;
        @media(max-width: 575px) {
            font-size: 24px;
        }
    }

    &__link {
        @media(max-width: 575px) {
            display: none;
        }
        &_bottom {
            @media(max-width: 575px) {
                display: block;
                text-align: center;
            }
            @media(min-width: 576px) {
                display: none;
            }
        }
    }
    &__slider {
        margin: 40px -20px -20px -20px;
        padding: 20px 20px; 
        @media(max-width: 575px) {
            margin: 30px auto 0 auto;
        }
    }
}
.section-title {
    font-size: 30px;
    line-height: 46px;
    font-weight: 700;
}
.link-more {
    font-size: 18px;
    line-height: 46px;
    color: rgba($sec-color, .58);
    text-decoration: none;
    &:hover {
        color: $main-color;
    }
    &::after {
        content: url('./assets/icons/main/arrow-bottom.svg');
        display: inline-block;
        transform: rotate(270deg);
        margin-left: 5px;
    }
}
.slide-common {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 30px;
    flex: 0 0 100%;
}

.footer-slide {

    &__link {
        text-decoration: none;
        &:hover {
            svg {
                path {
                    transition: .2s all;
                    fill: $main-color;
                }
            }
        }
        & + & {
            margin-left: 15px;
        }
    }
}

@keyframes moveSlider {
    0% {right: 100%;}
    100% {right: calc(0% - 10px)} 
}
