.category {
    margin-top: 30px;
    @media(max-width: 575px) {
        padding: 0 10px;
    }
    &__title {
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
        @media(max-width: 575px) {
            text-align: center;
        }
    }

    &__subheader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;
        @media(max-width: 575px) {
            flex-direction: column;
        }
    }

    &__select {
        position: relative;
        width: 374px;
        padding: 10px 20px;
        border: 1px solid rgba($fifth-color, .3);
        border-radius: 5px;
        font-size: 16px;
        line-height: 20px;
        appearance: none;
        -moz-appearance:none; 
        -webkit-appearance:none;
        cursor: pointer;
        @media(max-width: 767px) {
            width: 250px;
        }
        @media(max-width: 575px) {
            margin-top: 20px;
        }
    }

    &__sort {
        position: relative;
        &::after {
            content: url('./assets/icons/main/arrow-right.png');
            position: absolute;
            top: 50%;
            right: 0;
            transform: rotate(90deg) translate(-50%, 100%);
            pointer-events: none;
            @media(max-width: 575px) {
                top: 63%;
            }
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px 0 120px 0;
        @media(max-width: 991px) {
            flex-direction: column;
            align-items: center;
        }
        @media(max-width: 575px) {
            padding: 20px 0 20px 0;
        }
    }
}
.links-common {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.link-common {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: $fourth-color;
    transition: .2s all;
    &_active {
        color: $main-color;
    }
    &:hover {
        color: $main-color;
    }
    &:nth-child(n):not(:last-child) {
        &::after {
            content: url('./assets/icons/main/arrow-right.png');
            margin: 0 15px;
        }
    }
}
.content-category {

    &__filter {
        width: calc(25% - 85px);
        padding: 0 30px;
        border: 1px solid #000;
        @media(max-width: 1199px) {
            width: calc(40% - 85px);
        }
        @media(max-width: 991px) {
            width: calc(90% - 85px);
        }
        @media(max-width: 767px) {
            width: calc(100% - 85px);
        }
    }

    &__products {
        width: calc(75% - 7px);
        @media(max-width: 1199px) {
            width: calc(67% - 7px);
        }
        @media(max-width: 991px) {
            width: calc(90% - 7px);
            margin-top: 50px;
        }
        @media(max-width: 767px) {
            width: calc(100% - 7px);
        }
    }
}
.list-category {
    margin: 20px 0 30px 0;
}
.filter-category {

    &__accordeon {  
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        line-height: 25px;
        font-weight: 600;
        background-color: $sec-color;
        color: #ffffff;
        margin: 0 -30px 0 -30px;
        padding: 13px 30px 13px 30px;
        cursor: pointer;
        &_lg {
            font-weight: 700;
            padding: 23px 30px 23px 30px;
        }
        &_active {
            img {
                transform: rotate(180deg);
            }
        }
        @media(max-width: 575px) {
            font-size: 18px;
        }
    }

    &__img {
        transform: rotate(180deg);
    }
}

.category-padding {
    padding-bottom: 40px;
}
.cost-filter {

    &__content {
        margin-top: 30px;
    }

    &__title {
        font-size: 20px;
        line-height: 25px;
        font-weight: 600;
        text-align: center;
    }

    &__slider {
        margin-top: 30px;
    }
}
.slider-value{
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $third-color;
    }
}
.slider-main {

    &__wrapper {
        position: relative;
        width: 100%;
        margin: 30px 0 0 0 ;
    }

    &__actual {
        position: absolute;
        top: 55px;
        left: 5%;
        transform: translateX(-50%);
        font-size: 18px;
        line-height: 20px;
        font-weight: 300;
        color: $sec-color;
        &:last-child {
            left: 80%;
        }
    }
}

// FOR SLIDER BAR

.input-range {
    position: absolute;
    width: 100%;
    -webkit-appearance: none;
    left: 0;
    top: 0;
    height: 4px;
    border-radius: 5px;
    pointer-events: none;
}
#range-1, #range-3, #range-5, #range-7 {
    z-index: 1;
}

.input-range::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    height: 14px;
    width: 14px;
    border-radius: 100%;
    background: $sec-color;
    cursor: pointer;
    box-shadow: 0 0 0 4px $main-color, 0 0 0 5px $main-color;
    transition: background .3s ease-in-out;
    pointer-events: all;
    z-index: 10;
}
.input-range::-moz-range-thumb {
    position: relative;
    -webkit-appearance: none;
    height: 14px;
    width: 14px;
    border-radius: 100%;
    background: $third-color;
    cursor: pointer;
    box-shadow: 0 0 0 4px $main-color, 0 0 0 5px $main-color;
    transition: background .3s ease-in-out;
    pointer-events: all;
    z-index: 10;
}
.input-range::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

// FOR SLIDER BAR 

.slider-min {
    border-right: 1px solid $third-color;
}
.slider-num {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: calc(50% - 5px);
    height: 42px;
}
.category-item {
    label {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        user-select: none;
        input[type="checkbox"]:checked{
            content: '';
            position: absolute;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
            display: inline-block;
            width: 9px;
            height: 9px;
            background-color: $main-color;
        }
        input[type="checkbox"]:checked ~ span::before {
            border-color: $main-color;
        }
        span {
            font-size: 16px;
            line-height: 20px;
            margin-left: 35px;
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                display: inline-block;
                width: 15px;
                height: 15px;
                border: 2px solid $fourth-color;
            }
            @media(max-width: 575px) {
                font-size: 14px;
            }
        }
        #production-1, #production-2, #production-3, #production-4, #production-5, #production-6, #production-7, #production-8, #production-9, #production-10, #production-11, #production-12, #production-13, #steel-1, #steel-2, #steel-3, #steel-4, #steel-5, #steel-6, #steel-7, #steel-8, #steel-9, #steel-10, #steel-11, #steel-12, #steel-13, #steel-14, #handle-1, #handle-2, #handle-3, #handle-4, #handle-5, #handle-6, #handle-7, #handle-8, #handle-9, #handle-10, #handle-11, #guard-1, #guard-2, #guard-3, #guard-4, #guard-5, #guard-6, #guard-7, #guard-8, #guard-9, #guard-10, #guard-11, #gilding-1, #gilding-2, #rating-1, #rating-2, #rating-3, #rating-4, #rating-5 {
            appearance: none;
        }
    }
    cursor: pointer;
    & + & {
        margin-top: 20px;
    }
}
.length-main-category {

    &__slider {
        margin-top: 30px;
    }
}
.length-blade-category {

    &__slider {
        margin-top: 30px;
    }
}
.width-blade-category {

    &__slider {
        margin-top: 30px;
    }
}
.rating-category {

    label {
        span {
            display: flex;
            align-items: center;
            margin-left: 30px;
            i {
                font-size: 16px;
                line-height: 20px;
                margin-left: 10px;
            }
        }
    }
}
.products-category {

    &__carousel {
        margin: -20px;
        padding: 20px;
    }
    &__card {
        height: 465px;
    }

    &__footer {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 60px;
        @media(max-width: 991px) {
            flex-direction: column;
        }
    }

    &__more {
        border: 1px solid $main-color;
        @media(max-width: 1199px) {
            width: 230px !important;
            font-size: 18px !important;
        }
    }

    &__pagination {
        width: 210px !important;
        overflow: hidden;
        margin: 0 30px 0 0;
        position: relative;
        z-index: 10;
        @media(max-width: 991px) {
            margin: 30px 0 0 0;
        }
    }
    &__pagination-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        column-gap: 12px;
        transition: .3s all;
    }

    &__slide {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 30px;
    }

    
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 34px;
        min-height: 34px;
        font-size: 18px;
        line-height: 32px;
        border-radius: 100%;
        user-select: none;
        cursor: pointer;
        &_active {
            background-color: $main-color;
            color: #ffffff;
        }
        &_disabled {
            display: none;
        }
        &:hover {
            background-color: $main-color;
            color: #ffffff;
        }
    }
    &__dots {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34px;
        height: 34px;
        font-size: 18px;
        line-height: 32px;
        user-select: none;
        &_disabled {
            display: none;
        }
    }
    &__link {
        display: block;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        line-height: 32px;
        width: 100%;
        height: 100%;
        color: #000000;
    }
    &__navigation {
        width: 300px;
        height: 43px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        @media(max-width: 991px) {
            top: 65%;
            right: 50%;
            transform: translateX(50%);
        }
        @media(max-width: 575px) {
            display: none;
        }
    }
}


.navigation-products-category {
    &__next {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34px;
        height: 44px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        svg {
            transform: scale(2);
        }
    }
    &__prev {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34px;
        height: 44px;
        position: absolute;
        top: 0;
        left: 0;
        border: none;
        background-color: #fff;
        cursor: pointer;
        svg {
            transform: rotate(180deg) scale(2);
        }
        &:disabled {
            svg {
                fill: rgba(#000, .12);
            }
        }
    }
}

.swiper-button-disabled {
    svg {
        fill: rgba(#000, .12);
    }
}
.pagination-products {
    &__bullet {
        width: 30px;
        height: 30px;
        color: #000;
    }
}
.footer-products {
    &__subwrapper {
        @media(max-width: 991px) {
            margin-top: 30px;
        }
    }
}
