$main-color: #1ab9ce;
$sec-color: #999999;
$third-color: #f68038;
$fourth-color: #4da0b9;
$fifth-color: #14c0d4;
$six-color: #098494;
$seventh-color: #068292;
$eight-color: #1ab9ce;
$nine-color: #71c7d3;
$ten-color: #fd8424;
$eleven-color: #36949f;
$twelve-color: #333333;
$thirteen-color: #dedede;