@import './components/mixins';
@import './components/variables';
@import './components/animation';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.fsz48 {
    font-size: 48px;
}
.fsz18 {
    font-size: 18px;
}
.fsz14 {
    font-size: 14px;
}
.mb10 {
    margin-bottom: 10px;
}
.mt5 {
    margin-top: 5px;
}

//HEADER

.header {
    position: relative;
    height: 129px;
    padding-top: 20px;
}
.header__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.header__bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.header__logo {
    width: 30%;
    text-align: center;
    align-self: center;
    text-decoration: none;
    &-title {
        @include play;
        font-size: 48px;
        line-height: 48px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }
    &-subtitle {
        @include roboto;
        font-size: 12px;
        line-height: 18px;
        font-weight: 300;
        letter-spacing: 0.05em;
        color: #ffffff;
    }
}
.header__main {
    width: 35%;
    @media(max-width: 991px) {
        display: none;
    }
}
.header__nav-list {
    @include play;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}
.header__nav-wrapper {
    & + & {
        margin-left: 35px;
    }
}
.header__nav-item {
    &:nth-child(1) {
        margin-bottom: 10px;
    }
}
.header__nav-link {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    &:hover {
        &::after {
            content: '';
            position: absolute;
            bottom: -3px;
            left: 0;
            display: block;
            width: 100%;
            height: 1px;
            background-color: rgba(#fff, 1);
            animation: widthRamp .1s;
        }
    }
}
.header__submain {
    position: relative;
    width: 35%;
    @media(max-width: 991px) {
        display: none;
    }
}
.header__tel-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}
// .header__arrow {
//     width: 15px;
//     height: 15px;
//     position: absolute;
//     top: 0;
//     right: -10px;
//     transform: translateX(100%) rotate(0deg);
//     transition: .2s all;
//     cursor: pointer;
//     &_active {
//         transform: translateX(100%) rotate(180deg);
//     }
// }
.header__tel-item {
    @include roboto;
    position: relative;
    display: flex;
    flex-direction: column;
    &:first-child {
        margin-right: 65px;
        &::before {
            content: url('./assets/icons/main/phone.png');
            position: absolute;
            bottom: 0;
            left: -40px;
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: -33px;
            width: 1px;
            height: 28px;
            background-color: #ffffff;
        }
    }
    span {
        @include roboto;
        font-size: 12px;
        line-height: 18px;
        font-weight: 300;
        color: #ffffff;
    }
}
// .header__tel-sublist {
//     position: absolute;
//     top: 100%;
//     left: 10%;
//     overflow: hidden;
//     visibility: hidden;
//     list-style: none;
//     background-color: rgba(red, .5);
//     border-radius: 3px;
//     padding: 5px;
//     box-sizing: content-box;
//     &_active {
//         visibility: visible;
//         animation: fadeoutVis .5s;
//     }
// }
.header__tel-link {
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    margin-top: 5px;
    &:hover {
        &::after {
            content: '';
            position: absolute;
            bottom: -3px;
            left: 0;
            display: block;
            width: 100%;
            height: 1px;
            background-color: rgba(#fff, 1);
            animation: widthRamp .3s;
        }
    }
    
}

.subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    padding: 0 40px;
    &__right {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__link {
        @include roboto;
        position: relative;
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;
        &:nth-child(1) {
            position: relative;
            color: $sec-color;
            text-decoration: none;
            border-bottom: 1px dotted $sec-color;
            &::before {
                content: url('./assets/icons/main/login.png');
                position: absolute;
                top: -3px;
                left: -36px;
            }
            &:hover {
                color: darken($main-color, 20%);
            }
        }
        &:nth-child(2) {
            color: $main-color;
            text-decoration: none;
            border-bottom: 1px dotted $main-color;
            &::before {
                content: url('./assets/icons/main/registration.png');
                position: absolute;
                top: -3px;
                left: -36px;
            }
            &:hover {
                color: darken($main-color, 20%);
            }
        }
        &:nth-child(3) {
            color: $main-color;
            text-decoration: none;
            border-bottom: 1px solid $main-color;
            &::before {
                content: url('./assets/icons/main/mail.png');
                position: absolute;
                top: 3px;
                left: -36px;
            }
            &:hover {
                color: darken($main-color, 20%);
            }
        }
        &:nth-child(n):not(:last-child) {
            margin-right: 87px;
        }
    }

    &__call {
        @include roboto;
        position: relative;
        font-size: 14px;
        line-height: 18px;
        color: $main-color;
        text-decoration: none;
        border-bottom: 1px dotted $main-color;
        margin-right: 76px;
        &::before {
            content: url('./assets/icons/main/phone_green.png');
            position: absolute;
            top: 0px;
            left: -36px;
        }
        &:hover {
            color: darken($main-color, 20%);
        }
    }
    &__opening {
        @include roboto;
        position: relative;
        font-size: 14px;
        line-height: 18px;
        color: $sec-color;
        text-decoration: none;
        border-bottom: 1px dotted $sec-color;
        margin-right: 37px;
        span {
            display: block;
        }
        &::before {
            content: url('./assets/icons/main/calendar.png');
            position: absolute;
            top: 5px;
            left: -36px;
        }
    }
    &__order {
        position: relative;
        cursor: pointer;
    }
    &__dumpster {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 43px;
        height: 43px;
        background-color: $fourth-color;
        border-radius: 100%;
    }
    &__counts {
        position: absolute;
        top: 0;
        right: -30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 41px;
        height: 25px;
        background-color: $third-color;
        border-radius: 45%;
        span {
            @include roboto;
            font-size: 18px;
            line-height: 18px;
            font-weight: 700;
            color: #ffffff;
        }
    }
}

// END HEADER

// MAIN

.main {
    margin-top: 35px;
    &__wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    &__left {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // overflow: hidden;
        max-width: 22.9%;
    }
    &__right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 30px;
        max-width: calc(77.1% - 30px);
        .slide__search {
            display: flex;
            justify-content: flex-start;
            align-items: center; 
            width: 100%;
        }
        .slide__everywhere {
            @include roboto;
            position: relative;
            min-width: 116px;
            height: 40px;
            background-color: $button_bg;
            border: none;
            cursor: pointer;
            span {
                font-size: 14px;
                font-weight: 300;
                border-bottom: 1px dashed $fourteen-color;
                color: $fourteen-color;
            }
            &::before {
                content: url('./assets/icons/main/search.png');
                position: absolute;
                top: 12px;
                left: 14px;
            }
            &::after {
                content: url('./assets/icons/main/arrow_search.png');
                position: absolute;
                top: 13px;
                right: 16px;
            }
            &:hover {
                background-color: darken($button_bg, 10%);
            }
        }
        .slide__input {
            width: 100%;
            height: 40px;
            border: 2px solid $border-color;
        }
        .slide__submit {
            @include roboto;
            min-width: 86px;
            height: 40px;
            background-color: $third-color;
            border: none;
            color: #ffffff;
            font-size: 12px;
            line-height: 18px;
            font-weight: 900;
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
                background-color: darken($third-color, 10%);
            }
        }
    }
    &__catalog {
        background: url('./assets/img/main/catalog_bg.jpg') center center/cover no-repeat;
        .catalog {
            &__header {
                position: relative;
            }
            &__title {
                @include opensans;
                display: block;
                font-size: 30px;
                font-weight: 900;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                color: #ffffff;
                padding-left: 20px;
                padding-top: 20px;
            }
            &__list {
                margin-top: 30px;
            }
            &__item {
                @include roboto;
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 12px;
                line-height: 40px;
                font-weight: 300;
                color: #ffffff;
                list-style-type: none;
                cursor: pointer;
                img {
                    margin-right: 10px;
                }
                span {
                    margin-left: 20px;
                }
                &:nth-child(n):not(:last-child) {
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-color: #ffffff;
                    }
                }
                &:last-child {
                    line-height: 40px;
                }
                &:hover {
                    background-color: $six-color;
                }
            }
            &__burger {
                position: absolute;
                top: 50%;
                right: 20px;
                padding: 10px 6px;
                background-color: $seventh-color;
                cursor: pointer;
                span {
                    display: block;
                    width: 24px;
                    height: 2px;
                    background-color: #ffffff;
                    transition: all .1s;
                    &:nth-child(n):not(:last-child) {
                        margin-bottom: 5px;
                    }
                }
                &:hover {
                    background-color: darken($seventh-color, 10%);
                }
            }
        }
    }
    &__popup {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 281px;
        height: 100%;
        border: 2px solid $six-color;
        padding-top: 20px;
        background-color: #ffffff;
        visibility: hidden;
        transition: .2s all;
        z-index: 10;
        &_active {
            visibility: visible;
            left: 100%;
        }
        .popup__list {
            list-style-type: none;
            margin-bottom: 10px;
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background-color: $thirteen-color;
            }
        }
        .popup__item {
            @include roboto;
            font-size: 12px;
            line-height: 36px;
            font-weight: 300;
            color: $eight-color;
            background-color: #ffffff;
            cursor: pointer;
            &:hover {
                color: #ffffff;
                background-color: $nine-color;
            }
            span {
                margin-left: 40px;
            }
            &:last-child {
                margin-bottom: 20px;
            }
        }
        .popup__dayproduct {
            .dayproduct__title {
                @include roboto;
                position: relative;
                display: inline-block;
                font-size: 14px;
                line-height: 13px;
                font-weight: 900;
                padding: 6px 14px 3px 14px;
                margin-left: 30px;
                background-color: $ten-color;
                border-radius: 20px;
                text-transform: uppercase;
                color: #ffffff;
            }
            .dayproduct__image {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .dayproduct__descr {
                .dayproduct__link {
                    @include roboto;
                    display: block;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 300;
                    color: $eleven-color;
                    text-decoration: none;
                    margin-top: 10px;
                    margin-left: 40px;
                    &:hover {
                        color: darken($eleven-color, 30%);
                    }
                }
            }
            .dayproduct__buy {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 30px 33px 0 40px;
            }
            .dayproduct__dump {
                width: 40px;
                height: 40px;
                background: url('./assets/icons/main/dump_white.svg') center center/cover no-repeat;
                cursor: pointer;
                transition: .3s all;
                &:hover {
                    transform: scale(1.2);
                }
            }
            .dayproduct__cost {
                @include roboto;
                font-size: 24px;
                line-height: 24px;
                font-weight: 900;
                color: $twelve-color;
            }
        }
    }
    &__news-comments {
        margin-top: 44px;
        .aside {
            &__item {
                list-style-type: none;
                margin-top: 36px;
            }
            &__title {
                @include opensans;
                font-size: 30px;
                line-height: 1.2;
                font-weight: 900;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                color: $eight-color;
            }
            &__filling {
                @include roboto;
                font-size: 12px;
                line-height: 18px;
                font-weight: 300;
                color: $fourteen-color;
                margin-left: 17px;
            }
            &__contain {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                margin-top: 22px;
            }
            &__date {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                span {
                    @include roboto;
                    font-size: 24px;
                    line-height: 1.0;
                    font-weight: 900;
                    text-transform: uppercase;
                    color: $nineteen-color;
                    &:last-child {
                        font-size: 18px;
                        font-weight: 300;
                        text-transform: none;
                    }
                }
            }
        }
        .news {
            &__header {
                @include roboto;
                font-size: 12px;
                line-height: 18px;
                font-weight: 900;
                text-transform: uppercase;
                color: $eighteen-color;
            }
            
        }
        .comments {
            &__item {
                margin-top: 32px;
            }
            &__title {
                margin-top: 76px;
            }
            &__list {
                margin-top: 32px;
            }
            &__header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                span {
                    @include roboto;
                    font-size: 12px;
                    line-height: 18px;
                    text-transform: uppercase;
                    &:first-child {
                        font-weight: 900;
                        color: $twelve-color;
                    }
                    &:last-child {
                        font-weight: 300;
                        color: $sec-color;
                    }
                }
            }
            &__date {
                span {
                    &:last-child {
                        font-size: 48px;
                        color: $sixteen-color;
                        font-weight: 900;
                    }
                }
            }
        }
        
    }
    &__slider {
        position: relative;
        min-width: 100%;
        .slider__photos {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            bottom: -27px;
            left: 20%;
            .some {
                display: inline-flex;
                width: 55px;
                height: 55px;
                border-radius: 100%;
                background-color: #fff;
                overflow: hidden;
            }
            .no-photo {
                @include roboto;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 55px;
                height: 55px;
                border-radius: 100%;
                border: 4px solid #ffffff;
                font-size: 16px;
                line-height: 24px;
                font-weight: 900;
                color: #ffffff;
                background-color: $third-color;
            }
            .slider__photo {
                position: relative;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 55px;
                height: 55px;
                border-radius: 100%;
                border: 2px solid #ffffff;
                background-color: #ffffff;
                overflow: hidden;
                cursor: pointer;
                img {
                    position: absolute;
                    top: 0;
                }
                .img1 {
                    left: -22px;
                }
                .img2 {
                    left: -27px;
                }
                .img3 {
                    left: 0;
                }
                .img4 {
                    left: 0;
                }
                &:nth-child(n):not(:first-child) {
                    margin-left: 45px;
                }
            }
        }
    }
    &__slide {
        display: none;
        &_active {
            display: block;
        }
        
        .slide__sale {
            height: 383px;
            background: url('/assets/img/main/sale_bg.jpg') center center/contain no-repeat;
            margin-top: 22px;
            padding: 20px 36px 58px 36px;
            
            .sale__descr {
                margin-top: 53px;
            }
            .sale__cost {
               @include roboto;
                font-size: 36px;
                line-height: 24px;
                font-weight: 900;
                color: #ffffff;
                margin-top: 15px;
                text-align: center;
            }
            .sale__detail {
                @include roboto;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 145px;
                font-size: 14px;
                line-height: 13px;
                font-weight: 900;
                margin: 25px auto 0 auto;
                padding: 7px 11px 6px 22px;
                text-transform: uppercase;
                color: #ffffff;
                text-decoration: none;
                border: 3px solid #ffffff;
                border-radius: 25px;
                transition: .2s all;
                img {
                    margin-left: 10px;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
            .title {
                @include roboto;
                text-transform: uppercase;
                font-weight: 900;
                &_block {
                    display: block;
                }
                &_bg {
                    background-color: $fifteen-color;
                    padding: 2px 5px;
                }
                &_lh {
                    line-height: 34px;
                }
            }
            .title__orange {
                color: $third-color;
            }
            .title__gray {
                color: $twelve-color;
            }
            .title__white {
                color: #ffffff;
            }
            .title__light-gray {
                color: $lightGray-color;
            }
        }
    }
    &__popular {
        width: 100%;
        margin-top: 90px;
        .popular {
            &__header {
                display: flex;
                justify-content: space-between;
                align-items: center; 
            }
            &__title {
                @include opensans;
                font-size: 36px;
                line-height: 1.2;
                font-weight: 900;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                color: $sixteen-color;
            }
            &__arrows {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__pagination {
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
            &__actual {
                @include roboto;
                font-size: 30px;
                line-height: 1.0;
                font-weight: 900;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                color: $twelve-color;
                margin: 0 5px 0 20px;
            }
            &__all {
                @include roboto;
                font-size: 14px;
                line-height: 1.2;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                color: $sec-color;
                margin: 0 20px 0 5px;
            }
            &__prev, &__next {
                cursor: pointer;
            }

            &__list-slider {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: wrap;
            }
            &__item {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 263px;
                height: 383px;
                margin-top: 30px;
                padding: 12px 11px 12px 23px;
                border: 1px solid $seventeen-color;
                list-style-type: none;
                overflow: hidden;
                &_active {
                    .item__descr {
                        display: none;
                    }
                }
                &:hover {
                    .item__descr {
                        display: none;
                    }
                    .item__hover-content {
                        left: 0;
                    }
                }
                .item {
                    &__hover-content {
                        position: absolute;
                        top: 0;
                        left: 100%;
                        width: 261px;
                        height: 381px;
                        padding: 26px 19px 27px 26px;
                        background-color: rgba(0,0,0,0.84);
                        border: 5px solid $third-color;
                        transition: .3s all;
                    }
                    &__name, &__type {
                        @include roboto;
                        font-size: 16px;
                        line-height: 22px;
                        font-weight: 900;
                        color: $eleven-color;
                        &_active {
                            color: #ffffff;
                        }
                    }
                    &__type {
                        font-weight: 300;
                        &_active {
                            color: #c2c2c2;
                        }
                    }
                    &__old-cost {
                        @include roboto;
                        font-size: 18px;
                        line-height: 24px;
                        font-weight: 300;
                        margin-top: 15px;
                        text-decoration: line-through;
                        color: $sec-color;
                        text-align: right;
                    }
                    &__order {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        img {
                            cursor: pointer;
                        }
                    }
                    &__new-cost {
                        @include roboto;
                        font-size: 24px;
                        line-height: 24px;
                        font-weight: 900;
                        color: $twelve-color;
                        &_active {
                            color: #ffffff;
                        }
                    }
                    &__subname, &__subtype, &__speed, &__speed-value, &__transf, &__transf-value {
                        @include roboto;
                        font-size: 14px;
                        line-height: 24px;
                        font-weight: 400;
                        color: #ffffff;
                    }
                    &__subtype, &__speed-value, &__transf-value {
                        line-height: 18px;
                        font-weight: 900;
                        color: $third-color;
                    }
                    &__dumpster {
                        text-align: center;
                        margin-top: 24px;
                        cursor: pointer;
                    }
                    &__in-stock {
                        @include roboto;
                        font-size: 14px;
                        line-height: 21px;
                        font-weight: 300;
                        padding: 0 10px 0 11px;
                        border-radius: 20px;
                        color: $third-color;
                        background-color: #ffffff;
                    }
                }
            }
        }
    }
}

// END MAIN

//SPONSORS

.sponsors {
    position: relative;
    border-top: 3px dashed $sixteen-color;
    border-bottom: 3px dashed $sixteen-color;
    padding: 23px 0 32px 0;
    margin-top: 50px;
    &__wrapper {
        position: relative;
    }
    &__slider {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 40px;
    }
    &__arrows {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        .arrow {
            cursor: pointer;
            &__prev {
                left: 0;
            }
            &__next {
                right: 0;
            }
        }
    }
}

//END SPONSORS

//ABOUT

.about {
    margin-top: 30px;
    &__wrapper {
        position: relative;
        padding: 33px 57px 22px 32px;
        background: url('./assets/img/main/about_bg.jpg') center center/cover no-repeat;
    }
    &__title {
        @include opensans;
        font-size: 30px;
        line-height: 1.2;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: $twenty-color;
    }
    &__img {
        position: absolute;
        bottom: -123px;
        right: 0;
    }
    &__text {
        @include roboto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 33px;
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #ffffff;
    }
    &__left {
        width: calc(51% - 30px);
        .left__first-paragraph {
            margin-bottom: 20px;
        }
    }
    &__polygon {
        width: 255px;
        height: 180px;
        text-align: right;
        margin-right: -57px;
        shape-outside: polygon(72% 0, 5% 56%, 0 100%, 100% 100%, 100% 0%);
        clip-path: polygon(72% 0, 5% 56%, 0 100%, 100% 100%, 100% 0%);
        float: right;
    }
    &__right {
        width: calc(48% - 30px);
        span {
            font-weight: 900;
            text-transform: uppercase;
        }
        .right__paragraph {
            &::before {
                content: url('./assets/icons/main/catalog_arrow.png');
                margin-right: 17px;
                margin-left: 7px; 
            }
        }
    }
}

// END ABOUT

// HELP LINKS

.sitelinks {
    border-top: 3px dashed $sixteen-color;
    border-bottom: 3px dashed $sixteen-color;
    padding: 25px 0;
    margin-top: 38px; 
    &__row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        & + & {
            margin-top: 30px;
        }
    }
    &__item {
        & + & {
            margin-left: 35px;
        }
    }
    &__title {
        @include roboto;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 900;
        letter-spacing: 0.025em;
        color: $twelve-color;
    }
    &__link {
        @include roboto;
        font-size: 12px;
        line-height: 12px;
        font-weight: 300;
        color: $eight-color;
        text-decoration: none;
        &:hover {
            &::after {
                content: '';
                width: 100%;
                height: 1px;
                background-color: $eight-color;
                display: block;
            }
        }
        &_active {
            color: $twelve-color;
            &:hover {
                text-decoration: none;
                &::after {
                    content: '';
                    width: 0;
                }
            }
        }
    }
}

// END HELP LINKS

//FOOTER

.footer {
    margin-top: 35px;
    &__main {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid $sixteen-color;
        padding-bottom: 25px;
    }
    &__left {
        width: 49%;
    }
    &__right {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 51%;
    }
    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }
    &__delivery {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
    }
    &__logo {
        background-color: $fifth-color;
        padding: 18px 15px 14px 21px;
        .logo__text {
            display: block;
            text-align: center;
            &:first-child {
                @include play;
                font-size: 48px;
                line-height: 48px;
                font-weight: 700;
                text-transform: uppercase;
                color: #ffffff;
            }
            &:last-child {
                @include roboto;
                font-size: 12px;
                line-height: 18px;
                font-weight: 300;
                letter-spacing: 0.05em;
                color: #ffffff;
            }
        }
    }
    &__tel-list {
        position: relative;
        margin-top: 28px;
        padding-right: 7px;
        list-style-type: none;
        &::before {
            content: url('./assets/icons/main/phone_black.png');
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
        }
    }
    &__tel-item {
        @include roboto;
        display: block;
        text-align: right;
        & + & {
            margin-top: 5px;
        }
    }
    &__tel-link {
        font-size: 14px;
        line-height: 18px;
        font-weight: 900;
        text-transform: uppercase;
        text-decoration: none;
        color: $twelve-color;
        &:hover {
            text-decoration: underline;
        }
    }
    &__transport {
        margin-left: 45px;
        &-title {
            @include roboto;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: $sec-color;
        }
        &-list {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            list-style-type: none;
            margin-top: 30px;
            gap: 25px;
        }
    }
    &__payment-list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
        margin-top: 50px;
    }
    &__payment-item {
        & + & {
            margin-left: 25px;
        }
    }
    &__socials {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
    }
    &__socials-item {
        & + & {
            margin-left: 15px;
        }
    }
    &__rights {
        @include roboto;
        font-size: 12px;
        line-height: 18px;
        font-weight: 300;
        color: $sec-color;
    }
}

// END FOOTER